<div id="searching" class="container">
    <div ng-if="alreadyApplied">
        <h1>Oops</h1>
        <h2>It looks like you've already applied.</h2>
    </div>
    <div ng-hide="alreadyApplied">
    <div class="panel panel-searching">
        <div id="looking_for_agent" class="panel-body" ng-show="validationResults.formValid">

            <svg enable-background="new -0.6 -1 27 31" height="231px" version="1.1" viewBox="-0.6 -1 27 31" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <path clip-rule="evenodd" d="M13.1,29.8L13.1,29.8c-14.8-3.2-13-25-13-25  C7.9,5.7,12.4,0.8,13,0.1V0c0,0,0,0,0,0c0,0,0,0,0,0v0.1c0.6,0.7,5.2,5.6,12.9,4.7C26,4.8,27.9,26.6,13.1,29.8z M23.3,6.5  c-6.2,0.7-9.8-3-10.2-3.6V2.8c0,0,0,0,0,0c0,0,0,0,0,0v0.1C12.5,3.5,8.9,7.2,2.8,6.5c0,0-1.4,18.2,10.3,20.7h0  C24.8,24.7,23.3,6.5,23.3,6.5z M13.1,25.3L13.1,25.3c-0.3-0.1-0.5-0.1-0.7-0.2l8.8-9.7C20.2,19.5,18.1,24.2,13.1,25.3z M8.6,22.9  l13-14.1c0,0.7,0,1.8-0.1,3.1L10.4,24.2C9.7,23.9,9.1,23.4,8.6,22.9z M4.5,8.1c5.1,0.6,8.1-2.5,8.5-3V5c0,0,0,0,0,0c0,0,0,0,0,0v0.1  c0.3,0.4,2.6,2.8,6.5,3.1L7.3,21.3C3.9,16.1,4.5,8.1,4.5,8.1z"
                />
            </svg>

            <!-- Loader Start  -->
            <div class="wrapper loader-wrapper">
                <div class="cs-loader">
                    <div class="cs-loader-inner">
                        <label> ●</label>
                        <label> ●</label>
                        <label> ●</label>
                        <label> ●</label>
                        <label> ●</label>
                        <label> ●</label>
                    </div>
                </div>
            </div>
            <!-- Loader End  -->

            <h1>Please Wait While We Try To Match You With An Agent</h1>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <h3>
                          This process may take a few moments. Pelase don't refresh or colse
                          this page or app if you are using a mobile browser.
                      </h3>
                    </div>
                    <div class="item">

                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>

                </div>

                <!-- Controls -->

            </div>



        </div>
        <div class="panel-body" ng-hide="validationResults.formValid">
          <h3>We found a few errors with the form.</h3>
          <p>Please review the following steps:</p>
          <div class="list-group" style="text-align: left;">
            <a class="list-group-item list-group-item-danger" data-named-route="{{value.step}}" ng-repeat="(key, value) in validationResults.invalidSteps">{{value.name}} <span class="badge">{{value.invalids}}</span></a>
          </div>
        </div>
    </div>
    </div>
</div>
