<div id="agent_wrapper" class="wrapper wrapper-white">

    <div class="container">
        <div id="jose_wrapper" ng-if="applicant.formComplete">
        <h1>Your Matched Agent!</h1>
        <h3>
        Congratulations! We have matched you with a Verified Licensed Agent.
      </h3>
        <h4>
            Jose will contact you on <strong>{{applicant.contactDay}}</strong> between <strong>{{applicant.contactTime}}</strong>
        </h4>
        <p>
         and go over your information with you and schedule an in-person
         consultation at a place of your choosing. Please remember, there is no
          obligation and the consultation is 100% free.
        </p>
        <p>
            Thank you for using Inveniet Agetns
        </p>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                      <div class="thumbnail">
                          <img src="/assets/img/verified.png" />
                      </div>

                        <ul class="list-group">

                            <li class="list-group-item"><strong>Email</strong> <a href="mailto:Jlrod.1010@gmail.com">Jlrod.1010@gmail.com</a></li>

                            <li class="list-group-item">Professional Life Insurance Agent Since 2013</li>
                            <li class="list-group-item ">
                                Life Representitive (US)
                            </li>
                            <li class="list-group-item">Term Life Insurance CA</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                              <div class="thumbnail">
                                  <img src="/assets/img/upload-2.jpg">
                              </div>
                            </div>
                            <div class="col-md-8">
                                <h1>Jose Rodriguez</h1>
                                <h3>Life Insurance Agent</h3>
                                <h4>Los Banos, CA</h4>
                            </div>
                        </div>
                        <h4>About Jose:</h4> Hi my name is Jose Rodriguez and I'm a life insurance agent with 3 years of great experience. Prior to becoming I use to be tire technician providing great customer service there was a point in my life where I was looking for
                        a new career. Thankfully I found helping people with their financial needs became a great career to pursuit. I believe helping people get ahead financially is very important in my life because 3/4s of Americans are living pay check
                        to pay check and in a lot of consumer debt. Also over 95 million of Americans don't have no life insurance in place so you can imagine if someone passed away with no life insurance and living pay check to pay check and in tons
                        of debt. How devastating would family end up with no life insurance in place? I hope this can help and it marks a future benchmark for financial needs.
                    </div>
                    <div class="col-md-2">

                        <div class="thumbnail">
                            <img src="/assets/img/cdiseal.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-else>
      <h3>You need to fill out our simple form to view any agents.</h3>
      <p>
        Please click <a data-named-route='home'>here</a> to start our quick 5 minute form!
      </p>
    </div>
    </div>
</div>
