<div class="wrapper white-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">

                <div class="alert alert-warning">
                    <h1>We're Sorry</h1>
                    <h3>But we could not find an agent.</h3>
                    <p>
                        As we state in our mission statement, our goal is to find you an agent that best matches you. Unfortunately this means that sometimes we may not be able to match some of those who use our service with an agent.
                    </p>
                    <br />
                    <p>
                      It is extremely important to note that this <strong>DOES NOT MEAN</strong> you do not qualify for life insurance. Please do not be discouraged to look elsewhere for a life insurance agent.
                    </p>
                    <br />
                    <p>
                      Our database of agents is continuously growing and we encourage you to come back in a few months to try again.
                    </p>
                    <br />
                    <p>
                      We thank you very much for using our service and hope to see you again.
                    </p>
                    <br />
                    <p>
                      - InvenietAgents team.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

    </div>
</div>
