@keyframes slideOutNext {
  from{
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow: auto;
  }
  to{
    position: absolute;
    opacity: 0;
    margin: auto;
    left: -200%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow: auto;
  }

}

@keyframes slideInNext {
  from{
    position: absolute;
    opacity: 0;
    left: 200%;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  to{
    position: absolute;
    opacity: 1;
    left: 0%;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@keyframes slideOutPrevious {
  from{
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  to{
    position: absolute;
    opacity: 0;
    margin: auto;
    left: 200%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

}
@keyframes slideInPrevious {
  0%{
    position: absolute;
    opacity: 0;
    display: none;
    margin: auto;
    left: -200%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  // 50%{
  //   position: absolute;
  //   opacity: 0.0;
  //   left: -200%;
  //   width: 100%;
  //   max-width: 100%;
  //   min-width: 100%;
  // }
  100%{
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@keyframes dash{
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;
    top: -100%;
    margin: auto;
    transform: scale(0.5);
  }
  30%{
    transform: scale(1);
  }
  70% {
    opacity: 1;
    fill: $color_success;
    stroke-dashoffset: 0;
  }
  100%{
    opacity: 0;
  }
}

/* cs loader  */

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
