/**
 |---------------------------------
 | Variables
 |---------------------------------
 |
 | All global variables used by the app.
 |
 | @author Felipe Tadeo
 */

/**
 * Main Colors
 */

 $color_main : rgb( 20, 113, 233);
 $color_success : rgb(109, 254,  48);

 $color_font_main : white;
 $color_font_secondary : rgb( 91, 110, 126);

 /**
  * Break Points
  */

  $break_point-iPhone6_pls : 600px;
