<div id="step6" class="wrapper wrapper-white">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div ng-init="back='step5'" ng-include src="'/app/components/form/formNav/formNavView.html'">
        </div>
        <div class="row" ng-init="percent='86'">
            <!-- column start -->
            <div class="col-md-6">
                <h1>General History</h1>
                <h3>
                  We're almost done! The next set of questions are a	 general inquiry of your past. Each question may have a specified time period, please read carefully before answering.
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title/>
                                <desc/>
                                <defs/>
                                <g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1">
                                    <g id="Artboard-1" transform="translate(-359.000000, -119.000000)">
                                        <g id="slice" transform="translate(215.000000, 119.000000)" />
                                        <path d="M361.181376,129 C362.121889,123.879764 366.60786,120 372,120 C378.075133,120 383,124.924867 383,131 C383,137.075133 378.075133,142 372,142 C367.727268,142 364.023517,139.563904 362.201917,136.004883 L363.340648,136.004883 C365.070389,138.991197 368.300604,141 372,141 C377.522848,141 382,136.522848 382,131 C382,125.477152 377.522848,121 372,121 C367.162084,121 363.126577,124.435519 362.200036,129 L361.181376,129 Z M371.5,131.349626 L376.710685,134.421329 L377.218515,133.559872 L372.5,130.754395 L372.5,124.031738 L371.5,124.031738 L371.5,131.349626 Z M361.5,132 L364,129 L359,129 L361.5,132 Z"
                                            id="circle-backup-time-history-recent-time-machine-outline-stroke" fill="#000000" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <!-- <svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><g><path d="     M39.5,107.4V81.6c0-1.4,1.4-2.3,2.6-1.8l213.2,81.5c0.4,0.2,0.9,0.2,1.4,0l213.2-81.5c1.3-0.5,2.6,0.5,2.6,1.8v25.8" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="     M64.1,87V60.7c0-1.5,1.6-2.4,2.9-1.7L255.1,161c0.6,0.3,1.3,0.3,1.9,0L445,58.9c1.3-0.7,2.9,0.2,2.9,1.7V87" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="     M91.7,70.9V45c0-1.6,1.8-2.5,3.1-1.6l160,117.3c0.7,0.5,1.6,0.5,2.3,0l160-117.3c1.3-0.9,3.1,0,3.1,1.6v26.1" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><path d="    M494.5,410.6l-236.6,58.6c-1,0.2-1.9-0.5-1.9-1.5V163c0-0.9,0.6-1.7,1.5-1.9l236.1-58.5c1.2-0.3,2.4,0.6,2.4,1.9v304.2    C496,409.6,495.4,410.4,494.5,410.6z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><path d="    M254.5,469.3l-237-58.7c-0.9-0.2-1.5-1-1.5-1.9V104.5c0-1.3,1.2-2.2,2.4-1.9l236.1,58.5c0.9,0.2,1.5,1,1.5,1.9v305.1    C256,469,255.3,469.5,254.5,469.3z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="    M434.4,385.4l-106.6,25.4c-1.2,0.3-2.4-0.6-2.4-1.9v-54.6c0-0.9,0.6-1.7,1.5-1.9L433.5,327c1.2-0.3,2.4,0.6,2.4,1.9v54.6    C435.9,384.4,435.3,385.2,434.4,385.4z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><g><line fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" x1="325.5" x2="435.9" y1="373" y2="346.6"/><line fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" x1="325.5" x2="435.9" y1="391.2" y2="364.9"/></g></g></g></svg> -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col-md-5 col-md-offset-1">

                <div class="panel panel-form over-white">

                    <form ng-submit="submitForm()" no-validate name="userForm" ng-init="next='step7'" class="form-horizontal inveniet-agents-form" data-toggle="validator" role="form">
                        <div class="panel-body">
                            <p>
                                Have you pled guilty or been convicted of a felony in the last 5 years or have any pending criminal charges?
                            </p>

                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.criminalCharges" name="criminalCharges" id="criminalCharges1" value="true" ng-required="!applicant.criminalCharges"> Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.criminalCharges" name="criminalCharges" id="criminalCharges2" value="false" ng-required="!applicant.criminalCharges"> No
                                </label>
                            </div>

                            <hr />

                            <p>
                                In the last 3 years, have you received disability benefits for a period of 6 months or longer, or are currently receiving disability benefits?
                            </p>

                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.disabilityBenefits" name="disabilityBenefits" id="disabilityBenefits1" value="true" ng-required="!applicant.disabilityBenefits"> Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.disabilityBenefits" name="disabilityBenefits" id="disabilityBenefits2" value="false" ng-required="!applicant.disabilityBenefits"> No
                                </label>
                            </div>



                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="userForm.$invalid">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Column End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
