<div id="step4" class="wrapper wrapper-white">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div ng-init="back='step3'" ng-include src="'/app/components/form/formNav/formNavView.html'">
        </div>
        <div class="row" ng-init="percent='57'">
            <!-- column start -->
            <div class="col-md-6">
                <h1>Medical History Part 1</h1>
                <h3>
                  We will now ask a series of questions regarding your health history in two parts. Please read the following questions carefully.
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <svg enable-background="new 0 0 128 128" id="Layer_1" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M106.001,48.07c-5.935,0-10.86,4.334-11.817,10h-0.151c-8.822,0-15.999,7.178-15.999,16V78v15.82V108  c0,8.822-7.17,16-15.98,16c-8.811,0-15.979-7.178-15.979-16V69.823c16.886-2.861,29.986-41.059,31.939-53.514  c0.51-3.256-0.466-6.52-2.748-9.188C72.521,3.915,68.328,2,64.05,2h-5.62c0-1.104-5.993-2-5.993-2c-1.104,0-1.998,0.896-1.998,2v4  c0,1.104,0.895,2,1.998,2c0,0,5.993-0.896,5.993-2h5.62c3.078,0,6.21,1.426,8.175,3.722c1.068,1.25,2.254,3.299,1.836,5.969  C71.719,30.624,57.596,66,44.073,66c-13.525,0-27.647-35.376-29.988-50.31c-0.418-2.669,0.767-4.718,1.835-5.967  C17.884,7.426,21.017,6,24.095,6h6.366c0,1.104,5.993,2,5.993,2c1.103,0,1.998-0.896,1.998-2V2c0-1.104-0.895-2-1.998-2  c0,0-5.993,0.896-5.993,2h-6.366c-4.279,0-8.472,1.915-11.215,5.123c-2.282,2.668-3.258,5.931-2.747,9.187  c1.952,12.455,15.052,50.652,31.94,53.514V108c0,11.027,8.963,20,19.979,20c11.017,0,19.98-8.973,19.98-20V93.82V78v-3.93  c0-6.617,5.383-12,11.999-12h0.15c0.957,5.667,5.885,10,11.818,10c6.616,0,11.999-5.383,11.999-12  C118,53.454,112.617,48.07,106.001,48.07z M106.001,70.07c-4.829,0-8.868-3.441-9.798-8h6.354c0.692,1.19,1.969,2,3.444,2  c2.209,0,4-1.791,4-4s-1.791-4-4-4c-1.478,0-2.752,0.81-3.444,2h-6.354c0.93-4.559,4.969-8,9.798-8c5.515,0,9.999,4.486,9.999,10  C116,65.584,111.516,70.07,106.001,70.07z"
                                />
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <!-- <svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><g><path d="     M39.5,107.4V81.6c0-1.4,1.4-2.3,2.6-1.8l213.2,81.5c0.4,0.2,0.9,0.2,1.4,0l213.2-81.5c1.3-0.5,2.6,0.5,2.6,1.8v25.8" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="     M64.1,87V60.7c0-1.5,1.6-2.4,2.9-1.7L255.1,161c0.6,0.3,1.3,0.3,1.9,0L445,58.9c1.3-0.7,2.9,0.2,2.9,1.7V87" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="     M91.7,70.9V45c0-1.6,1.8-2.5,3.1-1.6l160,117.3c0.7,0.5,1.6,0.5,2.3,0l160-117.3c1.3-0.9,3.1,0,3.1,1.6v26.1" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><path d="    M494.5,410.6l-236.6,58.6c-1,0.2-1.9-0.5-1.9-1.5V163c0-0.9,0.6-1.7,1.5-1.9l236.1-58.5c1.2-0.3,2.4,0.6,2.4,1.9v304.2    C496,409.6,495.4,410.4,494.5,410.6z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><path d="    M254.5,469.3l-237-58.7c-0.9-0.2-1.5-1-1.5-1.9V104.5c0-1.3,1.2-2.2,2.4-1.9l236.1,58.5c0.9,0.2,1.5,1,1.5,1.9v305.1    C256,469,255.3,469.5,254.5,469.3z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="    M434.4,385.4l-106.6,25.4c-1.2,0.3-2.4-0.6-2.4-1.9v-54.6c0-0.9,0.6-1.7,1.5-1.9L433.5,327c1.2-0.3,2.4,0.6,2.4,1.9v54.6    C435.9,384.4,435.3,385.2,434.4,385.4z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><g><line fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" x1="325.5" x2="435.9" y1="373" y2="346.6"/><line fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" x1="325.5" x2="435.9" y1="391.2" y2="364.9"/></g></g></g></svg> -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col-md-5 col-md-offset-1">

                <div class="panel panel-form over-white">

                    <form ng-init="next='step5'" name="userForm" class="form-horizontal inveniet-agents-form" data-toggle="validator" ng-submit="submitForm()" role="form" novalidate>
                        <div class="panel-body">
                            <h2>In The Last 5 Years:</h2>

                            <h4>
                              Have you been treated for or diagnosed of any of the following:
                            </h4>
                            <hr />
                            <ul>
                                <li>Hypertension</li>
                                <li>High Blood Pressure</li>
                            </ul>

                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.hypertension" name="optionsRadios" id="optionsRadios1" value="true" ng-required="!applicant.hypertension"> Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.hypertension" name="optionsRadios" id="optionsRadios2" value="false" ng-required="!applicant.hypertension"> No
                                </label>
                            </div>
                            <div class="" ng-show="applicant.hypertension == 'true'">
                                <h4>Are you taking 3 medications or more for this?</h4>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="applicant.hypertensionmedication" name="hypermed" id="hypermed1" value="true" ng-required="!applicant.hypertensionmedication && applicant.hypertension == 'true'"> Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="applicant.hypertensionmedication" name="hypermed" id="hypermed2" value="false" ng-required="!applicant.hypertensionmedication && applicant.hypertension == 'true'"> No
                                    </label>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                            <ul class="col-xs-6">
                              <li>Stroke</li>
                              <li>Cancer</li>
                              <li>Tumors</li>
                              <li>Paralysis</li>
                              <li>Multiple Sclerosis</li>
                              <li>Lupus</li>
                            </ul >

                            <ul class="col-xs-6">
                              <li>Rheumatoid Arthritis</li>
                              <li>Muscular Dystrophy</li>
                              <li>Leukemia</li>
                              <li>Lymphoma</li>
                              <li>Seizures</li>
                              <li>Mental or Nervous Disorder</li>
                              <li>Scleroderma</li>
                            </ul>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.groupone" name="group1" id="group11" value="true" ng-required="!applicant.groupone"> Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.groupone" name="group1" id="group12" value="false" ng-required="!applicant.groupone"> No
                                </label>
                            </div>
                            <hr />

                            <p>Diabetes</p>

                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.diabetes" name="diabetes" id="diabetes1" value="true" ng-required="!applicant.diabetes"> Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.diabetes" name="diabetes" id="diabetes2" value="false" ng-required="!applicant.diabetes"> No
                                </label>
                            </div>


                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="userForm.$invalid">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Column End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
