.panel{
  &.panel-plain{
    background-color: transparent;
    box-shadow: none;
    .panel-body{
      h1{
        font-size: 400%;
        text-transform: capitalize;
        @media(max-width: $break_point-iPhone6_pls){
          font-size: 250%;
        }
      }
      p{
        font-size: 150%;
        font-weight: lighter;
        margin-top: 40px;

        @media(max-width: $break_point-iPhone6_pls){
          font-size: 100%;
        }
      }
    }

    ul{
      margin-top: 20px;
      font-size: 170%;
      font-weight: lighter;
      list-style: none;
      padding: 0px;

      li{
        padding: 5px 0px 5px 0px;
        // color: $color_main;
        font-weight: bolder;
      }
    }
  }
}

.wrapper{
  padding: 40px 0px;
  min-height: 800px;

  &.image-wrapper{
    // background-image: url(/assets/img/helper.jpg);
    background-image: url(/assets/img/dad.jpg);
    // background-image: url(/assets/img/helper-2.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;

    ul li{
      font-style: italic;
    }

    p{
      font-size: lighter;
    }

    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.view-animate-container {
    position: relative;
    overflow-x: hidden;
    min-height: 800px;

    &.back {


        .view-animate {
            &.ng-leave {
                animation: 2s slideOutPrevious !important;
            }
            &.ng-enter {
                animation: 2s slideInPrevious !important;
            }
        }
    }
    .view-animate {
        &.ng-leave {
            animation: 2s slideOutNext;
        }
        &.ng-enter {
            animation: 2s slideInNext;
        }
        &.ng-enter,
        &.ng-leave {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
