.checkmarkWrapper{
  position: fixed;
  top: 20%;
  bottom: auto;
  right: 0px;
  left: 0px;
  max-height: 100px;
  margin: auto;
  text-align: center;
  z-index: 100;
  height: auto;
  display: none;
  text-align: center;

  svg{
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
  }

  &.animated{
    svg{

      path{
        fill: $color_success;
        stroke: $color_success;
        stroke-dasharray: 745;
        stroke-dashoffset: 745;
        animation: dash 2s linear forwards;
      }
    }
  }
}

.container{
  &.disclaimer{
    text-align: center;
    padding: 60px 10px 20px 10px;
    font-size: 90%;
    color: rgb(240, 240, 240);
  }
}
