.panel {

    &.panel-searching{
      background-color: transparent;
      box-shadow: none;
      text-align: center;
      max-width: 500px;
      margin: auto;

      svg path{
        fill: white;
      }
    }


    &.panel-form {
        background-color: transparent;
        box-shadow: none;
        .form-group {
            .form-control {
                border: white solid 2px;
                background-color: rgba(255, 255, 255, 0.7);
                box-shadow: none;
                border-radius: 0;
            }
            .has-error {
                .form-control {
                    border: red solid 2px;
                }
            }
        }
        .panel-footer {
            background-color: transparent;
            border: 0;
        }
        &.over-white {
            .form-group {
                .form-control {
                    border: rgb(100, 100, 100) solid 1px;
                    background-color: rgba(255, 255, 255, 0.7);
                    box-shadow: none;
                    border-radius: 0;
                }
                .has-error {
                    .form-control {
                        border: red solid 2px;
                    }
                }
            }
        }
    }
}
.wrapper {
    &.wrapper-white {
        .back {
            padding-bottom: 50px;
            a.back-button{
              cursor: pointer !important;
            }
            svg {
                height: 60px;
                path {
                    fill: rgb( 55, 123, 181);
                }
            }
        };
        color: rgb(100, 100, 100);
        background-color: white;
        h1 {
            color: $color_main;
            font-weight: bold;
        }
        h3 {
            color: $color_main;
            font-weight: regular;
        }
        p {
            font-weight: lighter;
        }
        .thumbnail {
            svg {
                stroke: $color_main;
            }
        }
    }
}
.percent-wrapper {
    text-align: right;
    vertical-align: top;
}
