.navbar{
  &.navbar-main{
    background-color: transparent;
    color: $color_font_main;
    margin-bottom: 0px;
    a,{
      color: inherit;

      &:hover{
        background-color: white;
        color: $color_main;
      }
    }
    .navbar-header{
      color: $color_main;
      a{
        font-size: 230%;
        height: auto;

        span{
          vertical-align: middle;
          display: inline-block;
        }
      }

      .navbar-brand{
        color: white;
        svg{

          vertical-align: middle;
          display: inline-block;
          path{
            fill: white;
          }
        }

        &:hover{
          color: $color_main;
          svg{
            path{
              fill: $color_main;
            }
          }
        }
      }
    }


  }
}
