<div class="back row">
    <div class="col-xs-6">
        <a ng-click="previousStep()" class="back-button">
            <svg enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path clip-rule="evenodd" d="M31.106,15H3.278l8.325-8.293  c0.391-0.391,0.391-1.024,0-1.414c-0.391-0.391-1.024-0.391-1.414,0l-9.9,9.899c-0.385,0.385-0.385,1.029,0,1.414l9.9,9.9  c0.391,0.391,1.024,0.391,1.414,0c0.391-0.391,0.391-1.024,0-1.414L3.278,17h27.828c0.552,0,1-0.448,1-1  C32.106,15.448,31.658,15,31.106,15z"
                    fill-rule="evenodd" id="Arrow_Back" />
                <g/>
                <g/>
                <g/>
                <g/>
                <g/>
                <g/>
            </svg>
        </a>
    </div>
    <div class="col-xs-6">
        <div class="percent-wrapper">
            <h1>{{percent}}%</h1>
            <h4>Complete</h4>
        </div>
    </div>
</div>
