<p>
    <strong>InvenietAgents does not provide life insurance nor does it endorse any life insurance company</strong>. InvenietAgents is a life insurance agent matching service that is 100% free.
</p>
<p>
    InvenietAgents matches its applicants based on a variety of factors including but not limited to location and an agent’s criteria. This means that we may not always find an agent for you.
</p>
<p>
    Using this service and being matched with an agent does not mean you will automatically be qualified for life insurance. Only a licensed agent can tell you if you qualify for a plan that he/she as a broker or an affiliate recommends.
</p>
<p>
    This service is only available to persons 18 or older.
</p>
<p>
    This service is not available outside of California and may be restricted to parts of California where agents are available who have signed up for this service.
</p>
