<div class="WordSection1">

    <p class="MsoNormal" align="center" style="margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;line-height:27.0pt;mso-outline-level:1"><b><span style="font-size:16.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333;
mso-font-kerning:18.0pt">ONLINE PRIVACY POLICY AGREEMENT<o:p></o:p></span></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:27.0pt;mso-outline-level:1"><b><span style="font-size:22.5pt;
font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333;mso-font-kerning:18.0pt"><o:p>&nbsp;</o:p></span></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333">Inveniet Agents, (IA), is
committed to keeping any and all personal information collected of those
individuals that visit our website and make use of our online facilities and
services accurate, confidential, secure and private. Our privacy policy has
been designed and created to ensure those affiliated with Inveniet Agents
of our commitment and realization of our obligation not only to meet but to
exceed most existing privacy standards. <o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        <o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:13.5pt"><b style="mso-bidi-font-weight:normal"><i style="mso-bidi-font-style:normal"><span style="font-size:12.0pt;font-family:
&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#333333">THEREFORE</span></i></b><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">, this
Privacy Policy Agreement shall apply to Inveniet Agents<!--??-->
        <span
            style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">, and thus it shall govern any and all data collection and usage thereof. Through the use of invenietagents.com

            <span
                style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"> you are herein consenting to the following data procedures expressed within this agreement.
                <o:p></o:p>
                </span>
    </p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>



    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><b><u><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Collection
of Information<o:p></o:p></span></u></b></p>


    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
	&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">This
	website collects various types of information, such as:<o:p></o:p></span></p>


    <p class="MsoListParagraphCxSpFirst" style="margin-top:0in;margin-right:0in;
	margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
	text-align:justify;line-height:normal;mso-outline-level:2">


  <span style="mso-special-character:
	comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;font-family:
	&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
	&quot;Times New Roman&quot;;color:#333333"><o:p></o:p></span></p>


    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
	.0001pt;mso-add-space:auto;text-indent:-.25in;line-height:13.5pt;mso-list:l0 level1 lfo5">

            <!--[if !supportLists]--><span style="font-size:12.0pt;mso-fareast-font-family:Symbol;
	mso-bidi-font-family:Symbol;color:#333333"><span style="mso-list:Ignore">•<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
            </span>
            <!--[endif]--><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
	&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Voluntarily
	provided information which may include your name, address, email address, billing
	and/or credit card information etc., which may be used when you purchase products
	and/or services and to deliver the services you have requested.<o:p></o:p></span>
    </p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
	margin-bottom:0in;margin-left:1.5in;margin-bottom:.0001pt;mso-add-space:auto;
	line-height:13.5pt"><span style="mso-comment-continuation:12"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
	&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><span style="mso-spacerun:yes">&nbsp;</span><span style="mso-spacerun:yes">&nbsp;
	</span></span>
        </span><span style="font-size:12.0pt;font-family:
	&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
	&quot;Times New Roman&quot;;color:#333333"><o:p></o:p></span></p>


    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
	mso-add-space:auto;text-indent:-.25in;line-height:13.5pt;mso-list:l0 level1 lfo5">

            <!--[if !supportLists]--><span style="font-size:12.0pt;mso-fareast-font-family:Symbol;
	mso-bidi-font-family:Symbol;color:#333333"><span style="mso-list:Ignore">•<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
            </span>
            <!--[endif]--><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
	&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Information
	automatically collected when visiting our website, which may include cookies,
	third party tracking technologies and server logs. <o:p></o:p></span>
    </p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
	13.5pt"><span style="mso-comment-continuation:13"><span style="font-size:12.0pt;
	font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
	mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span>
        </span><span class="MsoCommentReference"><span style="font-size:
	8.0pt"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
	comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;font-family:
	&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
	&quot;Times New Roman&quot;;color:#333333"><o:p></o:p></span></p>


    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.25in;margin-bottom:.0001pt;text-align:justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
	mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
	color:#333333">Please rest assured that this site shall only collect personal
	information that you knowingly and willingly provide by way of surveys,
	completed membership forms, and emails. It is the intent of this site to use
	personal information only for the purpose for which it was requested and any
	additional uses specifically provided on this site. <o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify"><span style="mso-comment-continuation:14"><span style="font-size:12.0pt;
	line-height:115%;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
	mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><span style="mso-tab-count:
	6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
        </span><span class="MsoCommentReference"><span style="font-size:8.0pt;line-height:115%"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
	comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;line-height:
	115%;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
	mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.25in;margin-bottom:.0001pt;text-align:justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
	mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
	color:#333333">Inveniet Agents may have the occasion to collect
	anonymous demographic information, such as age, gender, household income, political affiliation, race and religion at a
	later time.We may also gather information about the type of browser you are using,
	IP address or type of operating system to assist us in providing and maintaining superior quality service.<o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333">It is highly recommended and suggested that you review the
privacy policies and statements of any website you choose to use or frequent as
a means to better understand the way in which other websites garner, make use of
and share information collected. <o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
text-align:justify"><b style="mso-bidi-font-weight:normal"><u><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333">Use of Information Collected<o:p></o:p></span></u></b></p>

    <p class="MsoListParagraphCxSpLast" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
text-align:justify"><span style="font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#333333">Inveniet Agents may collect and may
make use of personal information to assist in the operation of our website and
to ensure delivery of the services you need and request. At times, we may find
it necessary to use personally identifiable information as a means to keep you informed of
other possible products and/or services that may be available to you from invenietagents.com<!--??-->
</span><span class="MsoCommentReference"><span style="font-size:8.0pt;line-height:115%"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;line-height:
115%;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">. Inveniet Agents


</span><span class="MsoCommentReference"><span style="font-size:
8.0pt;line-height:115%"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;line-height:
115%;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"> may also be in contact
with you with regards to completing surveys and/or research questionnaires related
to your opinion of current or potential future services that may be
offered.<b style="mso-bidi-font-weight:normal"><u><o:p></o:p></u></b></span></p>




    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
	mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
	color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.25in;margin-bottom:.0001pt;text-align:justify"><span style="mso-comment-continuation:21"><span style="font-size:12.0pt;line-height:
	115%;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
	mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Inveniet Agents
	may find it beneficial to share specific data with our trusted partners in an
	effort to conduct statistical analysis, provide you with email and/or postal
	mail, deliver support and/or arrange for deliveries to be made. Those third
	parties shall be strictly prohibited from making use of your personal
	information, other than to deliver those services which you requested, and as
	such they are thus required, in accordance with this agreement, to maintain the strictest of
	confidentiality with regards to all your information. </span></span><span class="MsoCommentReference"><span style="font-size:8.0pt;line-height:115%"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
	comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;line-height:
	115%;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
	mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><o:p></o:p></span></p>


    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
	justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
	mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
	color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:.25in;margin-bottom:.0001pt;text-align:justify"><span style="mso-comment-continuation:22"><span style="font-size:12.0pt;line-height:
	115%;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
	mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Inveniet Agents
	may deem it necessary to follow websites and/or pages that our users may frequent
	in an effort to gleam what types of services and/or products may be the most
	popular to customers or the general public.</span></span><span class="MsoCommentReference"><span style="font-size:8.0pt;line-height:115%"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
	comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;line-height:
	115%;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
	mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333">Inveniet Agents may disclose your personal information,
without prior notice to you, only if required to do so in accordance with applicable
laws and/or in a good faith belief that such action is deemed necessary or is required in an effort to:<o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify"><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
mso-add-space:auto;text-indent:-.25in;mso-list:l2 level1 lfo6">
        <!--[if !supportLists]--><span style="font-size:12.0pt;line-height:115%;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:#333333"><span style="mso-list:Ignore">•<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
        </span>
        <!--[endif]--><span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333">Remain in conformance with any decrees, laws and/or statutes or in an effort to
comply with any process which may be served upon Inveniet Agents
and/or our website;<o:p></o:p></span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto"><span style="font-size:12.0pt;line-height:115%;
font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-.25in;line-height:normal;mso-list:l2 level1 lfo6">
        <!--[if !supportLists]--><span style="font-size:12.0pt;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333"><span style="mso-list:Ignore">•<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
        </span>
        <!--[endif]--><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Maintain, safeguard
and/or preserve all the rights and/or property of Inveniet Agents; and<o:p></o:p></span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto;line-height:normal"><span style="font-size:12.0pt;
font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-.25in;line-height:normal;mso-list:l2 level1 lfo6">
        <!--[if !supportLists]--><span style="font-size:12.0pt;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#333333"><span style="mso-list:Ignore">•<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
        </span>
        <!--[endif]--><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Perform
under demanding conditions in an effort to safeguard the personal safety of
users of invenietagents.com and/or the general public. <o:p></o:p></span></p>


    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
	.0001pt;mso-add-space:auto;line-height:normal"><span style="font-size:12.0pt;font-family:
	&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
	&quot;Times New Roman&quot;;color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
	margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
	text-align:justify;line-height:normal;mso-outline-level:2"><span style="mso-comment-continuation:23"><b><u><span style="font-size:12.0pt;
	font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
	mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Children Under Age of 13<o:p></o:p></span></u>
        </b>
        </span>
    </p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
	margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
	text-align:justify;line-height:normal;mso-outline-level:2"><span style="mso-comment-continuation:23"><span style="font-size:12.0pt;font-family:
	&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
	&quot;Times New Roman&quot;;color:#333333;mso-bidi-font-weight:bold">Inveniet Agents
	does not knowingly collect personal identifiable information from children
	under the age of thirteen (13) without verifiable parental consent. If it is
	determined that such information has been inadvertently collected on anyone
	under the age of thirteen (13), we shall immediately take the necessary steps
	to ensure that such information is deleted from our system's database. Anyone
	under the age of thirteen (13) must seek and obtain parent or guardian
	permission to use this website.</span></span><span class="MsoCommentReference"><span style="font-size:8.0pt"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
	comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;font-family:
	&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
	&quot;Times New Roman&quot;;color:#333333;mso-bidi-font-weight:bold"><o:p></o:p></span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
text-align:justify;line-height:normal;mso-outline-level:2"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333;
mso-bidi-font-weight:bold"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
text-align:justify;line-height:normal;mso-outline-level:2"><b><u><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Unsubscribe
or Opt-Out</span></u></b><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-bidi-font-weight:bold"><o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">All
users and/or visitors to our website have the option to discontinue receiving
communication from us and/or reserve the right to discontinue receiving
communications by way of email or newsletters. To discontinue or unsubscribe to
our website please send an email that you wish to unsubscribe to info@invenietagents.com. If you wish to unsubscribe or opt-out from any
third party websites, you must go to that specific website to unsubscribe
and/or opt-out. <o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoListParagraph" style="margin-top:0in;margin-right:0in;margin-bottom:
0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;text-align:justify;
line-height:normal;mso-outline-level:2"><b><u><span style="font-size:12.0pt;
font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Links to Other Web Sites<o:p></o:p></span></u></b></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:normal;
mso-outline-level:2"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-bidi-font-weight:bold">Our website does contain links to
affiliate and other websites. Inveniet Agents does not claim nor accept
responsibility for any privacy policies, practices and/or procedures of other
such websites. Therefore, we encourage all users and visitors to be aware when
they leave our website and to read the privacy statements of each and every
website that collects personally identifiable information. The aforementioned
Privacy Policy Agreement applies only and solely to the information collected
by our website. <o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:normal;
mso-outline-level:2"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333;mso-bidi-font-weight:bold"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:normal;
mso-outline-level:2"><b><u><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333">Security</span></u></b><span style="font-size:12.0pt;font-family:
&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-bidi-font-weight:bold"><o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Inveniet Agents
shall endeavor and shall take every precaution to maintain adequate physical,
procedural and technical security with respect to our offices and information
storage facilities so as to prevent any loss, misuse, unauthorized access,
disclosure or modification of the user's personal information under our
control. <o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt">


        <span class="MsoCommentReference"><span style="font-size:8.0pt"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
comment">&nbsp;</span></span>
        </span>










    </p>
    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><b><u><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Changes
to Privacy Policy Agreement</span></u></b><span style="font-size:12.0pt;
font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt;
tab-stops:.25in"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333">Inveniet Agents reserves the right to update and/or
change the terms of our privacy policy, and as such we will post those change
to our website homepage at invenietagents.com, so that our users
and/or visitors are always aware of the type of information we collect, how it
will be used, and under what circumstances, if any, we may disclose such
information. If at any point in time Inveniet Agents decides to make
use of any personally identifiable information on file, in a manner vastly
different from that which was stated when this information was initially collected,
the user or users shall be promptly notified by email. Users at that time shall
have the option as to whether or not to permit the use of their information in
this separate manner. <o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoListParagraph" style="margin-top:0in;margin-right:0in;margin-bottom:
0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;text-align:justify;
line-height:13.5pt"><b style="mso-bidi-font-weight:normal"><u><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Acceptance
of Terms<o:p></o:p></span></u></b></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Through
the use of this website, you are hereby accepting the terms and conditions
stipulated within the aforementioned Privacy Policy Agreement. If you are not
in agreement with our terms and conditions, then you should refrain from
further use of our sites. In addition, your continued use of our website
following the posting of any updates or changes to our terms and conditions
shall mean that you are in agreement and acceptance of such changes. <o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><b><u><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">How to
Contact Us</span></u></b><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt;text-align:justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">If you
have any questions or concerns regarding the Privacy Policy Agreement related
to our website, please feel free to contact us at the following email,
telephone number or mailing address.<o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.25in;line-height:13.5pt"><b style="mso-bidi-font-weight:normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Email:</span></b><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333"> info@invenietagents.com<o:p></o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.25in;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.25in;line-height:13.5pt">


        <span style="mso-comment-continuation:31"><span style="font-size:12.0pt;font-family:
&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#333333"> </span></span><span class="MsoCommentReference"><span style="font-size:8.0pt"><!--[if !supportAnnotations]--><!--[endif]--><span style="mso-special-character:
comment">&nbsp;</span></span>
        </span><span style="font-size:12.0pt;font-family:
&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#333333"><span class="empty-var" style="display: inline-block; width: 200px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(153, 153, 153); height: 20px; background-color: rgb(226, 226, 226); background-position: initial initial; background-repeat: initial initial;"></span>
        <o:p></o:p>
        </span>
    </p>


    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.25in;line-height:13.5pt"><b style="mso-bidi-font-weight:normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#333333">Mailing
Address:<o:p></o:p></span></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.25in;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Inveniet Agents
        <o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.25in;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1412 Chamberlain Ave
        <o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.25in;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333"><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Los Banos, California 93635
        <br style="mso-special-character:
line-break">
        <!--[if !supportLineBreakNewLine]-->
        <br style="mso-special-character:line-break">
        <!--[endif]-->
        <o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.25in;line-height:13.5pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#333333">08/11/2016<o:p></o:p></span></p>

</div>
