<div class="wrapper image-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-plain">
                    <div class="panel-body">
                        <h1>Find The right Life Insurance Agent</h1>
                        <p>
                            Obtaining life insurance is an important step in your life, but more importantly in your family’s life. Let us help you find the right life insurance agent for you and your family. Because a life insurance agent is for life.
                        </p>
                        <!-- <h2>Easy Process:</h2> -->
                        <ul>
                            <li>Fill Out Form To Find An Agent</li>
                            <li>Schedule A Phone Call</li>
                            <li>Get a FREE consultation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div id="step1wrapper" ng-include src="'/app/components/form/step1/step1View.html'"> </div>
            </div>
        </div>
    </div>
</div>
