<div id="step1" class="panel panel-form" ng-controller="formController">
    <div class="panel-heading">
        <h1>Easy 5 Minute Form</h1>
    </div>
    <form ng-init="next='step2'" class="inveniet-agents-form form-horizontal" name="userForm" ng-submit="submitForm()" role="form" novalidate>
        <div class="panel-body">
            <div class="alert alert-danger" ng-show='userForm.zip.$error.cityNotSupported'>We're sorry, but we are currently not operating in the zip code you provided.</div>
            <div class="form-group">
                <div class="col-sm-6" ng-class="{'has-error' : userForm.first_name.$invalid && userForm.first_name.$touched}">
                    <input type="text" class="form-control input-lg" name="first_name" ng-model="applicant.first_name" id="first_name" auto-fill-sync placeholder="First Name" required >
                </div>
                <div class="col-sm-6" ng-class="{'has-error' : userForm.last_name.$invalid && userForm.last_name.$touched}">
                  <div>
                    <input type="text" class="form-control input-lg" name="last_name" ng-model="applicant.last_name" id="last_name" auto-fill-sync placeholder="Last Name" required >
                  </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-12" ng-class="{'has-error' : userForm.email.$invalid && userForm.email.$touched}">
                    <input type="email" class="form-control input-lg" name="email" id="email" ng-model="applicant.email" auto-fill-sync  placeholder="example@email.com" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{'has-error' : userForm.phone.$invalid && userForm.phone.$touched}">
                   <input type="tel" class="form-control input-lg" name="phone" id="phone" ng-model="applicant.phone" auto-fill-sync  placeholder="Phone Number" ui-mask-placeholder ui-mask="(999) 999-9999" ng-pattern="patternsPhone" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" ng-class="{'has-error' : userForm.zip.$invalid && userForm.zip.$touched}">
                    <input type="tel" class="form-control input-lg zipCheck" name="zip" id="zip" ng-blur="checkZip()" auto-fill-sync  ng-model="applicant.zip" placeholder="Zip Code" required maxlength="5" ng-minlength="5" >
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox" ng-class="{'has-error' : userForm.terms.$invalid && userForm.terms.$touched}">
                        <label>
                            <input id="terms" type="checkbox" name="terms" ng-model="applicant.terms" required> I have read and agree to the <a id="openTerms" data-toggle="modal" data-target="#termsModal">terms and conditions</a> and <a data-toggle="modal" id="openPP" data-target="#ppModal">privacy policy</a>. I also understand
                            that InvenietAgents is a life insurance agent finding service, and that I am NOT applying for life insurance.
                        </label>
                    </div>
                </div>
            </div>


        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary btn-lg btn-block">Help Me Find An Agent</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Terms and conditions modal wrapper start -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a id="closeTerms" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
      </div>
      <div class="modal-body">
        <div ng-include src="'/app/shared/termsAndConditions/termsAndConditions.html'"> </div>
      </div>
      <div class="modal-footer">
        <button id="colseTermsTwo" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Terms and conditions modal wrapper end -->

<!-- Privacy Policy  modal wrapper start -->
<div class="modal fade" id="ppModal" tabindex="-1" role="dialog" aria-labelledby="ppModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a id="closePP" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
      </div>
      <div class="modal-body">
        <div ng-include src="'/app/shared/termsAndConditions/privacyPolicy.html'"> </div>
      </div>
      <div class="modal-footer">
        <button id="closePPTwo" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Privacy Policy modal wrapper end -->
