<div id="step3" class="wrapper wrapper-white">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div ng-init="back='step2'"  ng-include src="'/app/components/form/formNav/formNavView.html'">
        </div>
        <div class="row" ng-init="percent='43'">
            <!-- column start -->
            <div class="col-md-6">
                <h1>Health Info</h1>
                <h3>
                  To make it easier for you and our agents, here are series of medical questions to begin the process.
                </h3>
                <p>
                  This information helps our system find agents that will be best
                  suited to help you with your life insurance needs.
                </p>

            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col-md-5 col-md-offset-1">

                <div class="panel panel-form over-white">

                    <form ng-init="next='step4'" class="form-horizontal inveniet-agents-form" name="userForm" ng-submit="submitForm()"  role="form" novalidate>
                        <div class="panel-body">
                          <div class="thumbnail">
                              <img src="assets/img/smoking.png" >
                          </div>
                            <div class="radio">
                              <h4>
                                Have you used tobacco or nicotine in the last 12 months?
                              </h4>
                                <label>
                                    <input type="radio" ng-model="applicant.tobacco" name="tobacco" id="tobacco_yes" value="true" ng-required="!applicant.tobacco"> Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.tobacco" name="tobacco" id="optionsRadios2" value="false" ng-required="!applicant.tobacco"> No
                                </label>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="userForm.$invalid">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Column End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
