<div id="step2" class="wrapper wrapper-white">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div ng-init="back='step1'"  ng-include src="'/app/components/form/formNav/formNavView.html'">
        </div>

        <div class="row" ng-init="percent='30'">
            <!-- column start -->
            <div class="col-md-6">
                <h1>Your General Info</h1>
                <h3>
                  Most life insurance companies base their premiums depending on age and health.
                </h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <path d="   M116.4,448.4h236.5c0.1-0.2,0.2-0.4,0.3-0.6c31.7-56.2,52.3-117.9,60.7-181.8l8.4-64.4H47l8.4,64.4c8.3,63.9,29,125.7,60.7,181.8   C116.2,448.1,116.3,448.3,116.4,448.4z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" stroke-width="10" />
                                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" x1="414.9" x2="54.3" y1="240.7" y2="240.7" />
                                    <path d="   M427.9,452c0,24.3-17.1,44-38.1,44h-80.2H162.3H79.5c-21,0-38.1-19.7-38.1-44v-3.5h386.5V452z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" />
                                    <g>
                                        <path d="    M213.9,74.7c-9.7,1.3-17.3,10.4-17.9,20c-0.8,12.3,10.3,19.4,18.6,26.3c9.8,8,20.3,17.9,22.3,31.3c1.8,12.6-5.1,25.8-18.6,27.4" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"
                                        />
                                        <path d="    M250,16c-9.7,1.3-17.3,10.4-17.9,20c-0.8,12.3,10.3,19.4,18.6,26.3c9.8,8,20.3,17.9,22.3,31.3c1.8,12.6-5.1,25.8-18.6,27.4" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" />
                                    </g>
                                    <path d="   M418.7,227c43.7,9,58.9,27.5,49.1,65.6c-10,38.9-79.2,82.9-79.2,82.9" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <!-- <svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><g><path d="     M39.5,107.4V81.6c0-1.4,1.4-2.3,2.6-1.8l213.2,81.5c0.4,0.2,0.9,0.2,1.4,0l213.2-81.5c1.3-0.5,2.6,0.5,2.6,1.8v25.8" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="     M64.1,87V60.7c0-1.5,1.6-2.4,2.9-1.7L255.1,161c0.6,0.3,1.3,0.3,1.9,0L445,58.9c1.3-0.7,2.9,0.2,2.9,1.7V87" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="     M91.7,70.9V45c0-1.6,1.8-2.5,3.1-1.6l160,117.3c0.7,0.5,1.6,0.5,2.3,0l160-117.3c1.3-0.9,3.1,0,3.1,1.6v26.1" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><path d="    M494.5,410.6l-236.6,58.6c-1,0.2-1.9-0.5-1.9-1.5V163c0-0.9,0.6-1.7,1.5-1.9l236.1-58.5c1.2-0.3,2.4,0.6,2.4,1.9v304.2    C496,409.6,495.4,410.4,494.5,410.6z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><path d="    M254.5,469.3l-237-58.7c-0.9-0.2-1.5-1-1.5-1.9V104.5c0-1.3,1.2-2.2,2.4-1.9l236.1,58.5c0.9,0.2,1.5,1,1.5,1.9v305.1    C256,469,255.3,469.5,254.5,469.3z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/></g><g><path d="    M434.4,385.4l-106.6,25.4c-1.2,0.3-2.4-0.6-2.4-1.9v-54.6c0-0.9,0.6-1.7,1.5-1.9L433.5,327c1.2-0.3,2.4,0.6,2.4,1.9v54.6    C435.9,384.4,435.3,385.2,434.4,385.4z" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10"/><g><line fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" x1="325.5" x2="435.9" y1="373" y2="346.6"/><line fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="10" x1="325.5" x2="435.9" y1="391.2" y2="364.9"/></g></g></g></svg> -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col-md-5 col-md-offset-1">

                <div class="panel panel-form over-white">

                    <form novalidate name="userForm" ng-submit="submitForm()" ng-init="next='step3'" class="form-horizontal inveniet-agents-form" data-toggle="validator" role="form" novalidate>
                        <div class="panel-body">
                          <div class="alert alert-danger" ng-show='userForm.dob.$error.ageTooLow'>You must be 18 years or older to apply.</div>
                            <div class="form-group">
                                <div class="col-sm-6" ng-class="{'has-error' : userForm.dob.$invalid && userForm.dob.$touched}">
                                    <input type="tel" class="form-control input-lg" name="dob" id="dob" ng-model="applicant.dob" placeholder="Bithday" ui-mask-placeholder ng-minlength="10" ui-mask="99/99/9999" age-limit min-age="18" required>

                                </div>
                                <div class="col-sm-6" ng-class="{'has-error' : userForm.height.$invalid && userForm.height.$touched}">
                                    <input type="tel" class="form-control input-lg" name="height" id="height" ng-model="applicant.height" placeholder="Height: 5'09" ui-mask-placeholder ui-mask="9'99" pattern="^[3-7]{1}\'([0]{1}[0-9]{1}|[1][0-1])$" required>
                                </div>
                            </div>

                            <div class="radio">
                              <h4>
                                Please Select Your Gender:
                              </h4>
                                <label>
                                    <input type="radio" ng-model="applicant.gender" name="gender" id="optionsRadios1" value="male" ng-required="!applicant.gender"> Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="applicant.gender" name="gender" id="optionsRadios2" value="female" ng-required="!applicant.gender"> Female
                                </label>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="userForm.$invalid">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Column End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
