.thumbnail{
  border: none;
  text-align: center;
  svg{
    display: inline-block;
    width: 100%;
    height: auto;
    @media(max-width: $break_point-iPhone6_pls){
      width: 30%;
    }
  }
  img{
    @media(max-width: $break_point-iPhone6_pls){
      width: 30%;
    }
  }
}
