.wrapper {
    &.loader-wrapper {
        margin: auto;
        position: relative;
        min-height: 100px;
        .cs-loader {
          // padding-top: 120px;
          padding-bottom: 120px;

            .cs-loader-inner {
                width: 100%;
            }
        }
    }
}
