<div id="step7" class="wrapper wrapper-white">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div ng-init="back='step6'" ng-include src="'/app/components/form/formNav/formNavView.html'">
        </div>
        <div class="row" ng-init="percent='99'">
            <div class="col-md-3">
            </div>
            <!-- column start -->
            <div class="col-md-6">

                <h1>Okay {{applicant.first_name}}, we're ready to submit your info!</h1>
                <h3>
                  We will now process the information and will attempt to match you with an
                  agent that is right for you!
                </h3>
                <p>
                    If we find an agent that is right for you, the next step in the process is to receive a phone call by a professional life insurance agent who will review your information with you over the phone. After that, you may choose to schedule an at-home consultation
                    or at a place of your choosing to see if you qualify for life insurance.
                </p>

                <div class="panel panel-form over-white">

                    <form id="final-step" ng-init="next='searching'" ng-submit="submitForm()" name="userForm" no-validate class="form-horizontal inveniet-agents-form" data-toggle="validator" role="form">
                        <div class="panel-body">

                            <h4>Most agents are available on week days and Sundays. Which up comming day and time is best to reach you?</h4>

                                <div class="form-group" ng-class="{'has-error' : userForm.contactDay.$invalid && userForm.contactDay.$touched}">
                                    <label class="control-label col-sm-4" for="contactDay">Call Me On:</label>
                                    <div class="col-sm-8">
                                        <input  type="text" ng-model="applicant.contactDay" name="contactDay" id="contactDay" class="form-control" jquery-ui-datepicker required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">In between the times:</label>
                                    <div class="col-sm-8">

                                      <select class="form-control" ng-model="applicant.contactTime" name="contactTime" id="contactTime" required>
                                        <option value="">Please select a time that is best for you</option>
                                        <option value="8am-12pm"> 8:00 AM through 12:00 PM</option>
                                        <option value="12pm-4pm"> 12:00 PM through 4:00 PM</option>
                                        <option value="4pm-8pm"> 4:00 PM through 8:00 PM</option>
                                      </select>
                                    </div>

                                </div>

                        </div>


                        <div class="form-group">
                            <div class="checkbox">
                                <label for="consent">
                                    <input type="checkbox" id="consent" ng-model="applicant.consent" name="consent" value="" ng-required="!applicant.consent"> By checking this box, you agree to let an agent call you at {{applicant.phone}} in the specified time above.
                                </label>
                            </div>
                        </div>





                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="userForm.$invalid">Find Me An Agent!</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>


        </div>
        <div class="col-md-3">
        </div>
        <!-- Column End -->

        <!-- Column End -->
    </div>
    <!-- Row End -->
</div>
<!-- Container End -->
</div>
